@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ff-kr: 'Noto Sans KR', sans-serif;
  --ff-en: 'IBM Plex Mono', monospace;
  color-scheme: dark; /*페이지 어둡게 처리*/
}

.App {
  font-size: 15px;
}

.kr {
  font-family: var(--ff-kr);
}

.en {
  font-family: var(--ff-en);
}

.container {
  margin: auto;
  padding: 1rem;
  width: 100%;
}
